body {
	font-size: small;
	font-family: arial; sans-serif;
}

.a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

li {
	float: right;
	display: block;
	padding: 0 0 0 18px;
}

#topbar {
	margin: 25px 40px 0 0;
	height: 100px;

}

#logo{
	margin-top: 10px;
	padding-top: 109px;
	display: block;
	text-align: -webkit-center;
}

#container {
		margin: 10 0 0 0 auto;
		text-align: center;
}

#searchbar {
		margin: auto;
		padding-top: 10px;
}

input {
		height: 26px;
		width: 425px;
}

#search-options {
	margin: auto;
	position: relative;
}


.button {
	background-color: #f1f1f1;
	font: bold 11px/27px Arial,sans-serif!important;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 3px 4px 3px 4px;
	margin: 5px;
	display: inline-block;
}

.button:hover {
	border: 2px solid #dcdcdc;
}

#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 215px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 10px;
}

#bottomleft {
	float: left;
}

#bottomright {
	margin-right: 27px;
}